h1:nth-of-type(1) {
    background-color: crimson;
    color: burlywood;
}

h1:nth-of-type(2) {
    background-color: rgb(41, 126, 179);
    color: burlywood;
    font-size: 20px;
}

h1:nth-of-type(5) {
    background-color: rgb(115, 18, 71);
    color: rgb(135, 222, 176);
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

h1:nth-of-type(6) {
    background-color: rgb(184, 140, 20);
    color: rgb(222, 135, 142);
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

.m1 {
    background-color: rgb(90, 154, 214);
    color: rgb(231, 239, 234);
    font-size: 30px;
}